<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./Css/mystyle.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="mystyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav_style p-3">
      <a class="navbar-brand pl-3" href="#">Covid 19</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pr-5 text-capitalize">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutid">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#systomsid">systoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#prentionid">prention</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactid">contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main_header">
      <div class="row h-100 w-100">
        <div class="col-lg-5  col-md-5  col-sm-12 order-lg-1 order-2">
          <div
            class="leftside w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img
              src="images/corona_heart.png"
              width="300"
              hieght="300"
              alt="logo"
            />
          </div>
        </div>
        <div class="col-lg-7  col-md-7  col-sm-12 order-lg-2 order-1">
          <div
            class="rightside w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <h2>
              Let's Stay Safe & Fight Together Against Cor
              <span class="corona_roted"
                ><img src="images/crona_o.png" alt=""
              /></span>
              na Virus
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- ************************************** Covid Update ************************************* -->

    <section class="cronoa_update">
      <div mb-3>
        <h3 class="text-upparcase text-center mb-4 ">
          India Covid-19 Updates
        </h3>
      </div>

      <div
        class="d-flex justify-content-around align-items-center text-capitalize"
      >
        <div>
          <p class="act_color mb-2">[+<%= current[0].deltaconfirmed %>]</p>
          <h1 class="count act_color">
            <%= current[0].confirmed %>
          </h1>
          <p>Confirmed Covid-19 Cases</p>
        </div>

        <div>
          <h1 class="count" style="color: rgb(91, 163, 245)">
            <%= current[0].active %>
          </h1>
          <p>Active Covid-19 Cases*</p>
        </div>

        <div>
          <p class="rcvd_color mb-2">[+<%= current[0].deltarecovered %>]</p>
          <h1 class="count rcvd_color"><%= current[0].recovered %></h1>
          <p>Recovered/discarges Cases</p>
        </div>

        <div>
          <p class="deth_color mb-2">[+<%= current[0].deltadeaths %>]</p>
          <h1 class="count deth_color"><%= current[0].deaths %></h1>
          <p>Death Cases</p>
        </div>
      </div>
    </section>
    <hr />


    <!-- ////////////////////////////////// Table and age wise effected /////////////////////// -->

    <div class="container fluid cronoa_update_agewise">
      <div mb-3>
        <h4 class="text-upparcase text-center mb-5 mt-5 ">
          India Covid-19 Updates Effect agewise
        </h4>
      </div>
      <div class="contaner">
        <dir class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div
              class="d-flex justify-content-around align-items-center text-capitalize"
            >
              <table class="table table-striped">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">STATE</th>
                    <th scope="col">CONFIRMED</th>
                    <th scope="col">ACTIVE</th>
                    <th scope="col">RECOVERED</th>
                    <th scope="col">DEATH</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 1; i < current.length; i++) { %>
                  <tr>
                    <th scope="row"> <% if(current[i].deltaconfirmed){ %> <span>  current[i].deltaconfirmed </span> <%} %> <%= current[i].state %></th>
                    <td><%= current[i].confirmed %></td>
                    <td><%= current[i].active %></td>
                    <td><%= current[i].recovered %></td>
                    <td><%= current[i].deaths %></td>
                  </tr>
                  <% } %>
                  <tr class="table-success text-white">
                    <th scope="row"> Total </th>
                    <td><%= current[0].confirmed %></td>
                    <td><%= current[0].active %></td>
                    <td><%= current[0].recovered %></td>
                    <td><%= current[0].deaths %></td>
                  </tr>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <table class="table table-striped">
              <thead class="bg-info text-white ">
                <tr>
                  <th scope="col">Age</th>
                  <th scope="col">Cases</th>
                </tr>
              </thead>
              <tbody class="age_table">
                <tr>
                  <th scope="row">Between 0 To 20 Years Old Cases</th>
                  <td><%= filter_data["20-less"].length %></td>
                </tr>
                <tr>
                  <th scope="row">Between 21 To 30 Years Old Cases</th>
                  <td><%= filter_data["21-30"].length %></td>
                </tr>
                <tr>
                  <th scope="row">Between 31 To 40 Years Old Cases</th>
                  <td><%= filter_data["31-40"].length %></td>
                </tr>
                <tr>
                  <th scope="row">Between 41 To 50 Years Old Cases</th>
                  <td><%= filter_data["41-50"].length %></td>
                </tr>
                <tr>
                  <th scope="row">Between 51 To 60 Years Old Cases</th>
                  <td><%= filter_data["51-60"].length %></td>
                </tr>
                <tr>
                  <th scope="row">60 Above Cases</th>
                  <td><%= filter_data["60-above"].length %></td>
                </tr>
                <tr>
                  <th scope="row">Age data not Found</th>
                  <td><%= filter_data["not-mention"].length %></td>
                </tr>

                <tr class="table-success ">
                  <th scope="row">Total Cases</th>
                  <td><%= current[0].confirmed %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </dir>
      </div>
    </div>

    <!-- ****************************** about section *****************************  -->
    <div class="container-fluid sub_section pb-5 pt-5" id="aboutid">
      <div class="section_header text-center mb-5 mt-4">
        <h1>About Covid-19</h1>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 about_img ">
          <img src="images/corona.png" class="img-fluid" alt="notuploded" />
        </div>
        <div class="col-lg-5 col-md-6 col-12">
          <h2>What is Covid-19 (Corona Virus)</h2>
          <p>
            Covid-19 is the infectious disease caused by the most recently
            discovered coronavirus. This new virus and disease were unknown
            before outebrek began in Whuhan,China in Desember 2019
          </p>
          <p>
            CoronaViruses are large Faimly of viruses which may cause illness in
            animals or humans. In humans, several coronaviruses are known to
            cause respiratory infectoins ranging from the common cold to more
            serve disease such as middle East.
          </p>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////// Corona Symtoms /////////////////////////////////// -->
    <div class="container-fluid  pb-5 pt-5" id="systomsid">
      <div class="section_header text-center mb-5 mt-4">
        <h1>Corona Virus Symtoms</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <figure class="text-center">
              <img
                src="images/cold.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>Cold</figcaption>
            </figure>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <figure class="text-center">
              <img
                src="images/cough.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>Cough</figcaption>
            </figure>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <figure class="text-center">
              <img
                src="images/fever.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>Fever</figcaption>
            </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img
                src="images/runnynose.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>RunnyNose</figcaption>
            </figure>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img
                src="images/tiredness.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>Tiredness</figcaption>
            </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img
                src="images/difficulty-breath.png"
                class="img-fluid"
                width="120"
                height="120"
                alt="logo"
              />
              <figcaption>Difficulty_breathing</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!-- /////////////////////////////////// Corona Preventions /////////////////////////////////// -->
    <div class="container-fluid  sub_section pb-5 pt-5" id="prentionid">
      <div class="section_header text-center mb-5 mt-4">
        <h1>6 Step Preventions Against Coronavirous</h1>
      </div>
      <div class="container ">
        <div class="row ">
          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/handwash.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  Wash your hands regrarly for 20 secands. whith soop and water
                  or alcohal-based hands rub.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/mos.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  Cover your nose and mouth with a disposable tissue or fiexed
                  elbow when you cough or sneeze.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/avoid.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  Avoid close cantact ( 1 meter Or 3 feet) with people who are
                  unwell
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/home.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  Stay home and self- isolate from others in the household if
                  you fell unwell.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/ill.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  If you have fiver, cough and difficulty breathing. seek
                  medical care early
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="row">
              <div class="col-lg4 col-md-4 col-12">
                <figure class="">
                  <img
                    src="images/prevent/news.png"
                    class="img-fluid float-left"
                    width="90"
                    height="90"
                    alt="logo"
                  />
                </figure>
              </div>

              <div class="col-lg-8 col-md-8 col-12">
                <p>
                  Stay informed by wachting news and follow the recommended
                  practices.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
